<center>
<% if @game.counter.even? %>
<h2><%=@player1%>'s turn</h2>
<% else %>
<h2><%=@player2%>'s turn</h2>
<% end %>
<h1><%=@player1%> vs. <%=@player2%></h1>
<h2>prepare for battle!</h2>
<h3> <%=@player2%>: <%= @game.player2.hitpoints %>HP </h3>
<h3> <%=@player1%>: <%= @game.player1.hitpoints %>HP </h3>
<% if @game.counter.even? %>
<form action="/attack">
  <input type="submit" value="Attack <%=@player2%>"/>
</form>
<% else %>
<form action="/attack">
  <input type="submit" value="Attack <%=@player1%>"/>
</form>
<% end %>
</center>
